#footer{
    width: 100%;
    box-sizing: border-box;
    margin: auto;
    /* border: 1px solid red; */
    background-color: rgb(244, 238, 238);

}
#aboutus{
    border-top: 1px solid gray;
    padding-bottom: 40px;
    background-color: white;
    box-sizing: border-box;
    padding-left: 40px;
    padding-right: 40px;
}
#aboutus>div{
    padding: 0px;
}
#signup{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid gray;
    background-color: rgb(244, 238, 238);
    margin-bottom: 40px;
    padding-top: 20px;
}
#signup>div:first-child{
    margin-left: 150px;
}
#signup>div:last-child{
    margin-right: 150px;
}
#signup input{
    height: 45px;
    width: 350px;
    margin-right: 20px;
}
#signup>div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
}
#signup button{
    height: 50px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    color: white;
    background-color: rgb(69, 81, 86);
    border: none;
}
#signup input:active{
    border-color: teal
}
#help{
    display: flex;
    justify-content: space-around;
    background-color: rgb(244, 238, 238);
    border-top: 1px solid gray;
    margin-bottom: 40px;
    padding-top: 20px;
}
#help>div>a{
    text-decoration: none;
    color: rgb(45, 44, 44);
}
#help>div>a:hover{
    text-decoration: underline;
    color: teal;
}
#help>div>a>div{
    color: teal;
}

#social{
    display: flex;
    justify-content: center;
    border-top: 1px solid gray;
    
    padding-top: 15px;
    padding-bottom: 10px;
}
#social>div{
    margin: 10px;
}
#social>div:last-child{
    margin-left: -10px;
}
#social>div>a>img{
    height: 40px;
    width: 100%;
}
#footer>div:last-child{
    /* border: 1px solid yellow; */
    width: 90%;
    margin: auto;
    padding-bottom: 30px;
    /* border-bottom: 1px solid gray; */
}
#footer>div:last-child>img{
    width: 100%;
}
