#container{
    width: 35%;
    margin: auto;
    margin-top: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
}
h1{
    text-align: center;
}

h1+p{
    text-align: center;
    font-size: 17px;
    margin-top: -10px;
}
#form{
    width: 90%;
    margin: auto;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#form>input{
    height: 30px;
    width: 90%;
}
input[id="password"]+p{
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
}
p a{
    color: teal;
}
#form>input:last-child{
    height: 40px;
    font-size: 20px;
    color: white;
    background-color: rgb(18, 73, 73);
}
#form>input:last-child:hover{
    color: rgb(18, 73, 73);
    background-color: rgb(207, 198, 198);
}

#container>div{
    width: 82%;
    margin: auto;
    /* border: 1px solid green; */
    margin-bottom: 30px;
}
#conatainer>div>a{
    text-decoration: none;
}
div button{
        height: 40px;
        width: 100%;
        font-size: 20px;
        color: rgb(18, 73, 73);
        background-color: rgb(223, 213, 213);
}

div button:hover{
    color: rgb(223, 213, 213);
    background-color: rgb(18, 73, 73);;
}